<p id="notice"><%= notice %></p>

<h1><%= @message %> </h1>
<hr>

    <% @articles.each do |article| %>
      <div class="row">
        <div class="col-lg-4">
          <div class="img">
            <%= image_tag article.image.url() %>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="news">
            <h1><%= link_to article.title, article %><small> | <%= article.category.name %></small></h1>
            <p><%= truncate(article.content, length: 100) %></p>
            <%= link_to article do%>
              Read More <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>
        <hr>
    <% end %>

    <div class="pagination">
      <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
    </div>

<br><br>
<% if user_signed_in? and can? :create, @article %>
  <%= link_to new_article_path do %>
    New Article <i class="fa fa-plus" aria-hidden="true"></i>
  <% end %>
<% end %>
