<p id="notice"><%= notice %></p>

<h1><%= @message %> </h1>
<hr>

    <% @articles.each do |article| %>
        <%= image_tag article.image.url(:medium) %><h1><%= link_to article.title, article %><small> | <%= article.category.name %></small></h1>
        <p><%= truncate(article.content, length: 200) %></p>
        <%= link_to 'Read more', article, class: "btn btn-primary" %>
        <hr>
    <% end %>

<br><br>
<% if user_signed_in? and can? :create, @article %>
    <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
<% end %>
