<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h3><%= @article.title %><small> | by <%= @article.author %></small></h3>
    </div>

    <%= image_tag @article.image.url(), class: "featuredImg", width: "100%"%>
			<hr>

    <p>
      <%= simple_format(@article.content) %>
    </p>

    <p>
        Tag :<strong> <%= link_to @article.category.name %> </strong>
    </p>

    <small>Published on <%= @article.created_at.strftime("%B %d, %Y") %> </small>
    <br><br>

    <div class="stats">
      <li><p><%= @article.impressionist_count(:filter => :ip_address) %> views <i class="fa fa-eye" aria-hidden="true"></i></p></li>
      <li>
        <%= link_to  do %>
          share <i class="fa fa-share" aria-hidden="true"></i>
        <% end %>
      </li>
    </div>

    <h5><%= @message %></h5>
    <hr>


    <% count = @article.comments.count %>
    <% if count >= 2 %>
      <p><%= count %> comments <i class="fa fa-comments-o" aria-hidden="true"></i></p>
    <% else %>
      <p><%= count %> comment <i class="fa fa-comment" aria-hidden="true"></i></p>
    <% end %>


    <h2>Comments</h2>
    <div class="commentBox">
      <%= render @article.comments %>
      <% if user_signed_in? %>
      <%= simple_form_for([@article, @article.comments.build]) do |f| %>
        <%= @message %>
        <p>
          <%= f.input :body, :label => "Comment" %>
        </p>
        <p>
          <%= f.button :submit, "Comment"%>
        </p>
        <% end %>
      <% end %>

      <%# if user_signed_in? and current_user == @owner %>
      <% if can? :edit, :destroy, @article %>
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%#= link_to 'Back', articles_path %>
  </div>

  <hr>

  <h3> Recent Posts </h3>

  </div>


  <div class="row">

    <% @categories.each do |recent| %>
    <div class = "col-sm-6 col-md-3">
       <div class = "thumbnail">
          <%= link_to recent do %>
            <%= image_tag recent.image.url() %>
          <% end %>
       </div>

       <div class = "caption">
          <h4><%= link_to recent.title, recent %></h4>
        </div>
      </div>
      <% end %>
    </div>
</div>

 <%#articles_path(:category=>c.id)%>
