<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @article.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<small>Published at <%= @article.created_at %> </small>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= simple_form_for([@article, @article.comments.build]) do |f| %>
  <%= @message %>
  <p>
    <%= f.input :body %>
  </p>
  <p>
    <%= f.button :submit %>
  </p>
<% end %>

<% if user_signed_in? and current_user == @owner %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', articles_path %>
