<h1>Admin Panel</h1>

<h3>Users</h3>
<hr>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Username</th>
      <th>Status</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="bg-success">
        <% if user.admin? %>
          <th scope="row"></th>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td>Admin</td>
          <td><%= link_to registration_path(user), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
          </td>
        <% else %>
          <th scope="row"></th>
          <td><%= user.email %></td>
          <td><%= user.username %></td>
          <td>Regular</td>
          <td>Delete</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<h3> Articles categories </h3>
<hr>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Category</th>
      <th>Articles count</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |cat| %>
      <tr class="bg-success">
          <th scope="row"></th>
          <td><%= cat.name %></td>
          <td><%= cat.articles.count %></td>
          <td><%= link_to cat, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to admin_create_path do %>
  Add Category <i class="fa fa-plus" aria-hidden="true"></i>
<% end %>
<br><br>

<%= link_to new_article_path do %>
  New Article <i class="fa fa-plus" aria-hidden="true"></i>
<% end %>
<hr>
