<!DOCTYPE html>
<html>
  <head>
    <title>Tefecho</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- HEADER -->
    <nav class="navbar navbar-light bg-faded">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag('tefecho.png') %>
        <% end %>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="nav-item active">
                <%= link_to 'Home', root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'News', articles_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'About', about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Contact', contact_path, class: "nav-link" %>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <!-- <li class="nav-item">
                  <div class="profile">
                  <%=link_to edit_user_registration_path do %>
                    <% if current_user.image.file? %>
                        <%= image_tag current_user.image.url(:tiny) %>
                    <% else %>

                    <% end %>
                  <% end %>
                  </div>
                </li> -->
                <li class="nav-item"><%= link_to current_user.email, edit_user_registration_path  %></li>
                <%#= link_to 'Forum', conversations_path %>
                <% if current_user.admin? %>
                  <li class="nav-item"><%= link_to 'Admin Panel', admin_panel_path %></li>
                <% end %>
                <li class="nav-item"><%= link_to 'log out', destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li class="nav-item"><%= link_to 'log in', new_user_session_path %></li>
                <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path %></li>
              <% end %>
            </ul>
          </div>
</nav>

  <!-- BODY -->


        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>



  <div class="myContainer">
    <div class="row">
      <div class="col-md-8">
        <div class="wrapper">
  		    <%= yield %>
        </div>
      </div>



        <div class="col-md-4">
          <h3>Did You Know ?</h3>
          <hr>
          <br><br>

          <h3>Categories</h3>
          <hr>
          <div class="categories">
            <% @category.each do |c| %>
              <li><%= link_to c.name, articles_path(:category=>c.id) %></li>
            <% end %>
          </div>
          <br><br>

          <h3> Find Us on Facebook </h3>
          <hr>


      </div>

    </div>
  </div>

      <!-- FOOTER -->

      <br><br>

<div class="footer">
      <div class="container-fluid">
            <hr>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="nav nav-pills nav-justified">
                          <li><a href="/">© 2017 Tefecho.</a></li>
                          <li><a href="#">Terms of Service</a></li>
                          <li><a href="#">Privacy</a></li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>

                    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90755756-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
