<!DOCTYPE html>
<html>
  <head>
    <title>Echo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar">
    <div class="menu">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'News', articles_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
    </div>

    <div class="auth">
      <ul>
        <% if user_signed_in? %>
          <li><%=link_to edit_user_registration_path do %>
                <%= image_tag current_user.image.url(:thumb) %>
              <% end %>
          </li> |
            <li><%= link_to current_user.email, edit_user_registration_path  %></li>
          <%#= link_to 'Forum', conversations_path %>
            <% if current_user.admin? %>
             <li><%= link_to 'Admin Panel', admin_panel_path %></li>
             <% end %>
            <li><%= link_to 'log out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
            <li><%= link_to 'log in', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="menu_1">
    <% @category.each do |c| %>
      <%= link_to c.name, articles_path(:category=>c.id) %>
    <% end %>

  </div>


        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>



  <div class="container">
  		<%= yield %>
  </div>

  </body>
</html>
